@if (openChat){
<div class="content">
  <app-header></app-header>

  <div class="messages">
    <ul *ngFor="let message of messages">
      
      @if(message?.sender?._id===authService.currentUser.id ||message.sender===authService.currentUser.id ){
        <li class="replies">
          <p>{{ message.content.text }}</p>
        </li>
      }@else { 
        <li class="sent">
          <p> <span style="color:#2ecc71 ;">{{message?.sender?.name}}: 2:12</span><br>
            {{ message.content.text }}</p>
        </li>
      
    }
    </ul>
  </div>
  
  <div class="message-input">
    <div class="wrap">
    <input type="text" [(ngModel)]="message" placeholder="Write your message..." />
    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
    <button (click)="onSendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
}@else {
  <p class="empty-chat">Select channel or a friend to chat</p>
}
