<div class="container">
  <div class="content">
    <mat-card>
      <mat-card-content>
        <form #f="ngForm" (submit)="authSvc.login(credentials)">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput name="nickname" [(ngModel)]="credentials.name" required minlength="5">
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="credentials.password" required minlength="6">
          </mat-form-field>
          <div class="padding">
            <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Login</button>
            <button hidden type="submit" [disabled]="f.invalid"></button>
            <button mat-button routerLink="/sign-up">Sign Up</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!-- <div class="card">
  <h2>Login Form</h2>

  <div class="login_register">
      <a href="
https://codepen.io/pen?template=gOEqMVq
" class="login" target="blank">Login</a>
      <a href="
https://codepen.io/pen?template=VwRgKYB
" class="register" target="blank">Signup</a>
  </div>

  <form class="form">
      <input type="email" placeholder="Email Adress" class="email">
      <input type="password" placeholder="password" class="pass">
  </form>

  <a href="#" class="fp">Forgot password?</a>

      <button type="button" class="login_btn">Login</button>

  <div class="footer_card">
  <p>Not a member?</p>
  <a href="#">Singup now</a>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-9 col-12">
      <mat-card>
        <mat-card-content>
          <form #f="ngForm" (submit)="authSvc.login(credentials)">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput name="nickname" [(ngModel)]="credentials.name" required minlength="5">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password" [(ngModel)]="credentials.password" required minlength="6">
            </mat-form-field>
            <div class="padding">
              <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Login</button>
              <button hidden type="submit" [disabled]="f.invalid"></button>
              <button mat-button routerLink="/sign-up">Sign Up</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->


<!-- <ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col sizeXl="3" sizeLg="4" sizeMd="6" sizeSm="9" sizeXs="12">
      <ion-card>
        <ion-card-content>
          <form #f="ngForm" (submit)="authSvc.login(credentials)">
            <ion-item>
              <ion-label position="floating">Username:</ion-label>
              <ion-input name="nickname" [(ngModel)]="credentials.name" [required]="true" minlength="5"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password:</ion-label> 
              <ion-input type="password" name="password" [(ngModel)]="credentials.password" [required]="true" minlength="6"></ion-input>
            </ion-item>
            <div class="ion-padding">
              <ion-button expand="full" type="submit" [disabled]="f.invalid">Login</ion-button> 
              <button hidden type="submit" [disabled]="f.invalid"></button> 
              <ion-button expand="full" routerLink="/sign-up" fill="clear">Sign Up</ion-button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content> -->
